.react-select-container {
  @apply outline-none border-0 !rounded-[10px];
  border-radius: 10px !important;
}
.react-select__value-container {
  @apply text-[#9a9a9a] text-[.9375rem]  outline-none pr-[px]    border-0  focus:outline-none focus:border-pink-500;
  border-radius: 10px !important;
}
.react-select__value-container:focus {
  @apply border-0;
}
.react-select__value-container:active {
  @apply border-0;
}

.react-select__value-container.css-1kwwvb1-ValueContainer2 {
  @apply text-[#9a9a9a] text-[.9375rem]  outline-none !rounded-[10px] rounded-r-none   border-0;
  border-radius: 10px !important;
}

.react-select__indicators {
  @apply text-[#9a9a9a] text-[.9375rem]  outline-none pr-[15px] !rounded-[10px] rounded-l-none;
  border-radius: 10px !important;
}
.react-select__indicator-separator {
  display: none;
}
.react-select__control.css-nqaof0-control {
  box-shadow: none;
  border-color: none;
  @apply !rounded-[10px];
  border-radius: 10px !important;
}
.react-select__control.react-select__control--is-focused {
  outline: none;
  box-shadow: none;
  @apply !rounded-[10px];
  border-radius: 10px !important;
  @apply focus:outline-none focus:border-pink-500;
}
.react-select__value-container
  .react-select__value-container--has-value
  .css-1d8n9b {
  @apply bg-[#f1f1f1]   text-[#9a9a9a] text-[.9375rem]  outline-none  !rounded-[10px] rounded-r-none  py-[10px] px-[23px] border-0;
  border-radius: 10px !important;
  @apply focus:outline-none focus:border-pink-500;
}
.react-select__value-container .css-1d8n9bt {
  @apply bg-[#f1f1f1]   text-[#9a9a9a] text-[.9375rem]  outline-none  !rounded-[10px] rounded-r-none  py-[10px] px-[23px] border-0;
  border-right-width: 0px !important;
  border-radius: 10px !important;
}

.css-nqaof0-control {
  @apply bg-[#f1f1f1]   text-[#9a9a9a] text-[.9375rem]  outline-none  !rounded-[10px] rounded-r-none   border-0;
  border-right-width: 0px !important;
  border-radius: 10px !important;
}

.css-1d8n9bt {
  @apply bg-[#f1f1f1]   text-[#9a9a9a] text-[.9375rem]  outline-none  !rounded-[10px] rounded-r-none   border-0;
  border-right-width: 0px !important;
  border-radius: 10px !important;
}
.css-13cymwt-control {
  @apply focus:outline-none focus:border-pink-500;
  border-radius: 10px !important;
}
.css-t3ipsp-control {
  @apply focus:outline-none focus:border-pink-500 border-pink-500;
}
