@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;700&family=Public+Sans:wght@100;300;400;700&family=Roboto:ital,wght@0,100;0,500;1,100;1,300;1,400;1,500;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "node_modules/nprogress/nprogress.css"; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
html {
  height: 100%;
}
body {
  font-family: "Josefin Sans", sans-serif;
  min-height: 100%;
}
li {
  list-style: none;
}
/* For WebKit browsers (e.g. Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: pink;
  border-radius: 10px;
}

/* For Firefox */
/* scrollbar-color: pink #f1f1f1; */
#specifyColor {
  accent-color: #fb2e86;
}
.container {
  @apply w-[95%] lg:w-[90%] m-auto;
}
.transistionMode {
  @apply transition duration-500 ease-in delay-200;
}
.icons {
  @apply w-6 h-6 mr-2;
}
.mainText {
  @apply text-2xl capitalize text-[#151875] mb-5 font-bold;
}
/* swiper */

.swiper-pagination-bullet-active {
  @apply !bg-pink-500;
}
.swiper-pagination-bullet {
  height: 5px !important;
  width: 30px !important;
  display: inline-block !important;
  @apply !bg-pink-500 !rounded-md;
}

.swiper {
  height: 100%;
}

.swiper-slide {
  height: auto !important;
}
.swiper-slide {
  height: auto;
}
.swiper-content {
  height: 100% !important;
}
.swiper-backface-hidden .swiper-slide {
  height: auto;
}
